@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/HelveticaNeueLight.ttf");
}

@font-face {
    font-family: "Youre Gone";
    src: url("../fonts/youre gone.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Lucy Rounded";
    src: url("../fonts/Lucy_Rounded.ttf");
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* background-color: #ebebeb; */
    background-color: #ffe57d;
}

button:focus {
    outline: 0;
}

::placeholder {
    color: rgb(192, 192, 192);
}

.container {
    width: 70%;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.input_portion {
    top: 1vw;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.username_input, .password_input {
    background-color: #ffffff;
    border-color: transparent;
    height: 3vw;
    padding: 0.5vw 0.5vw;
    font-size: 1.5vw;
    top: 15px;
    width: 60%;
    font-family: 'Montserrat Light';
    color: rgb(116, 93, 33);
    align-content: center;
    padding-left: 20px;
    letter-spacing: 1px;
    margin-top: 2.5vw;
    text-align: center;
}

.warning {
    font-family: 'Helvetica Neue Light';
    font-size: 1.3vw;
    color: #ff8888;
    position: relative;
    top: 0vw;
    font-weight: bolder;
}

.login_btn{
    width: 20vw;
    height: 5vw;
    border-color: transparent;
    background-color: #41360c;
    color: #ffe57d;
    font-family: 'Youre Gone';
    font-size: 3vw;
    transition: 500ms;
    position: relative;
    top: 0vw;
}

.login_btn:hover{
    /* width: 20.5vw;
    height: 5.5vw;
    font-size: 3.2vw;
    margin-top:-0.1vw;  */
    background-color: #2c2508;
    cursor: pointer;
}

.guest_login {
    font-family: 'Montserrat Light';
    font-size: 1.5vw;
    color: #41360c;
    position: relative;
    margin-top: 2vw;
    transition: 500ms;
}

.guest_login:hover{
    color: #846e18;
}

.signup_prompt{
    display: flex;
    flex-direction: row;
}

.signup_link {
    font-family: 'Montserrat Light';
    font-size: 1.5vw;
    color: #41360c;
    position: relative;
    transition: 500ms;
    top: 1vw;
    font-weight: bold;
}

.signup_link:hover {
    color: #846e18;
}



