@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/HelveticaNeueLight.ttf");
}

@font-face {
    font-family: "Youre Gone";
    src: url("../fonts/youre gone.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Lucy Rounded";
    src: url("../fonts/Lucy_Rounded.ttf");
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* background-color: #ebebeb; */
    background-color: #eeeeee;
    overflow-y: scroll;
}

button:focus {
    outline: 0;
}

.navbar {
    background-color: #ffe57d;
    width: 100%;
    height: 5vw;
    top: 0px;
    position: fixed;
    box-shadow: 0 6px 5px 2px rgba(134, 134, 134, 0.274);
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    /* top: 1.5vw; */
    left: 50%;
}

.navlink {
    font-family: 'Montserrat Light';
    color: rgb(153, 113, 61);   
    font-size: 1.5vw;
    padding-right: 3vw;
    display: inline-block;
    text-align: center;
    /* font-weight: bold; */
    user-select: none;
}

.navlink:hover {
    color: #b99d2d;
    transition: 1000ms;
    cursor: pointer;
}

.container {
    margin: 0px auto;
    height: 85%;
    width: 85%;
    position: relative;
    top: 5vw;
    align-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    /* overflow-y: scroll; */
}

.prof {
    position: relative;
    top: 3vw;
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    align-self: center;
    box-shadow: 0 0 10px rgb(218, 218, 218);
}

#profile-container img {
    width: 150px;
    height: 150px;
}

.username {
    font-family: 'Montserrat Light';
    font-size: 3vw;
    align-self: center;
    position: relative;
    margin-left: 2vw;
}

.pw_dets {
    margin: 0px auto;
    margin-top: 1vw;
    position: relative;
    display: flex;
    flex-direction: row;
}

.pw_label, .password {
    font-family: 'Montserrat Light';
    font-size: 1vw;
    align-self: center;
    position: relative;
    margin-left: 2vw;
}

.logoutdiv {
    position: relative;
    top: 5vw;
}

.logout_btn {
    width: 17vw;
    height: 4vw;
    border-color: transparent;
    background-color: #41360c;
    color: #ffe57d;
    font-family: 'Youre Gone';
    font-size: 2vw;
    transition: 500ms;
    position: relative;
    top: 0vw;
}

.logout_btn:hover {
    /* width: 20.5vw;
    height: 5.5vw;
    font-size: 3.2vw;
    margin-top:-0.1vw;  */
    background-color: #2c2508;
    cursor: pointer;
}

.besttimediv {
    position: relative;
    top: 8vw;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin: 0px auto;
    justify-items: center;
    justify-content: center;
    border-top: 5px;
    border-top-color: #b99d2d;
}

.bestTime {
    font-family: "Youre Gone";
    font-size: 3vw;
    color: #2c2508;
    margin-left: 3vw;
}