<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wiki Game | Login</title>
    <script src="jquery_3.3.1.js"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <img src="the_wiki_game_logo_gif.gif" alt="Logo Failed to Load"
            style="position:relative; top: 3vw; bottom: 5vw; width: 25vw; height:15vw;"   >
        <form action="" class="input_portion">
            <input type="text" class="username_input" name="user" id="username" placeholder="username">
            <input type="password" class="password_input" name="pww" id="password" placeholder="password">
            <p class="warning" id="warn">Username or Password is incorrect.</p>
            <button class="login_btn" id="loginbtn" onclick="window.location.href = 'Dashboard.html'">LOGIN</button>
            <a href="Dashboard.html" class="guest_login">Login as Guest</a>
            <div class="signup_prompt">
                <pre style="font-family: 'Helvetica Neue Light';
    font-size: 1.3vw;">Don't have an account?  </pre><a href="SignUp.html" class="signup_link">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>