<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wiki Game | Profile</title>
    <script src="jquery_3.3.1.js"></script>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="navbar">
        <img src="the_wiki_game_logo_smaller_spaces.png" alt="Logo Failed to Load"
            style="width: 7.5vw; height:3vw; top: 0vw; cursor: pointer;"
            onclick="window.location.href = 'Dashboard.html'">
        <ul class="navul">
            <li class="navlink" onclick="window.location.href = 'Dashboard.html'">HOME</li>
            <li class="navlink">|</li>
            <li class="navlink" onclick="window.location.href = 'Leaderboard.html'">LEADERBOARD</li>
            <li class="navlink">|</li>
            <li class="navlink" id="profile" style="color: #46380b; font-weight: bold">PROFILE</li>
        </ul>
    </div>

    <div class="container">
        <div class="prof">
            <div id="profile-container">
                <image id="profileImage" src="the_wiki_game_logo_profile.png" />
            </div>

            <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
            <p class="username" id="user">JustinSeagull</p>
        </div>
        <div class="pw_dets">
            <p class="pw_label">Password:</p>
            <p class="password" id="pass">jungkook</p>
        </div>
        
    </div>

    <script>
        $("#profileImage").click(function(e) {
        $("#imageUpload").click();
        });

        function fasterPreview( uploader ) {
        if ( uploader.files && uploader.files[0] ){
        $('#profileImage').attr('src',
        window.URL.createObjectURL(uploader.files[0]) );
        }
        }

        $("#imageUpload").change(function(){
        fasterPreview( this );
        });
    </script>
</body>
</html>