<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wiki Game | Sign Up</title>
    <script src="jquery_3.3.1.js"></script>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <div class="container">
        <img src="the_wiki_game_logo_gif.gif" alt="Logo Failed to Load"
            style="position:relative; top: 2.5vw; bottom: 5vw; width: 25vw; height:15vw;">
        <form action="createaccount" class="input_portion" method="POST">
            <input type="text" class="username_input" name="user" id="username" placeholder="username">
            <input type="password" class="password_input" name="pww" id="password" placeholder="password">            
            <input type="password" class="password_input" name="confirm_pww" id="confirm_password" placeholder="confirm password">            
            <!-- <p class="warning" id="warn">Username or Password is incorrect.</p> -->
            <button class="signup_btn" id="signup" onclick='$(".input_portion").submit()'>SIGN UP</button>
        </form>
        <p class="warning_pw" id="warn_pw">Warning: Passwords don't match</p>
        <p class="warning_user" id="warn_user">Warning: Username is already taken</p>
        <a href="/dashboard" class="guest_login">Login as Guest</a>
    </div>
</body>

</html>